parameters:
    ignoreErrors:
        -
            message: "#^Parameter \\$size of method FluidTYPO3\\\\Flux\\\\Proxy\\\\IconFactoryProxy\\:\\:getIcon\\(\\) has invalid type TYPO3\\\\CMS\\\\Core\\\\Imaging\\\\IconSize\\.$#"
            count: 1
            path: Classes/Proxy/IconFactoryProxy.php
        -
            message: "#^Parameter \\$state of method FluidTYPO3\\\\Flux\\\\Proxy\\\\IconFactoryProxy\\:\\:getIcon\\(\\) has invalid type TYPO3\\\\CMS\\\\Core\\\\Imaging\\\\IconState\\.$#"
            count: 1
            path: Classes/Proxy/IconFactoryProxy.php
        -
            message: "#^Parameter \\#2 \\$size of method TYPO3\\\\CMS\\\\Core\\\\Imaging\\\\IconFactory\\:\\:getIcon\\(\\) expects string, string\\|TYPO3\\\\CMS\\\\Core\\\\Imaging\\\\IconSize given\\.$#"
            count: 1
            path: Classes/Proxy/IconFactoryProxy.php
        -
            message: "#^Parameter \\#4 \\$state of method TYPO3\\\\CMS\\\\Core\\\\Imaging\\\\IconFactory\\:\\:getIcon\\(\\) expects TYPO3\\\\CMS\\\\Core\\\\Type\\\\Icon\\\\IconState\\|null, TYPO3\\\\CMS\\\\Core\\\\Imaging\\\\IconState\\|TYPO3\\\\CMS\\\\Core\\\\Type\\\\Icon\\\\IconState\\|null given\\.$#"
            count: 1
            path: Classes/Proxy/IconFactoryProxy.php
        -
            message: "#^Access to protected property TYPO3\\\\CMS\\\\Backend\\\\View\\\\BackendLayout\\\\DataProviderContext\\:\\:\\$pageId\\.$#"
            count: 1
            path: Classes/Proxy/DataProviderContextProxy.php
        -
            message: "#^Class TYPO3\\\\CMS\\\\Backend\\\\View\\\\BackendLayout\\\\DataProviderContext does not have a constructor and must be instantiated without any parameters\\.$#"
            count: 1
            path: Classes/Proxy/DataProviderContextProxy.php
        -
            message: "#^Call to an undefined method Doctrine\\\\DBAL\\\\Result\\:\\:fetch(All)?\\(\\)\\.$#"
            count: 2
            path: Classes/Utility/DoctrineQueryProxy.php
        -
            message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Core\\\\Package\\\\MetaData\\:\\:getTitle\\(\\)\\.$#"
            count: 1
            path: Classes/Integration/FormEngine/PageLayoutSelector.php
        -
            message: "#^Call to an undefined static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\PathUtility\\:\\:getPublicResourceWebPath\\(\\)\\.$#"
            count: 2
            path: Classes/Integration/FormEngine/PageLayoutSelector.php
        -
            message: "#^Property .+ does not accept#"
            count: 4
            path: Classes/Integration/FormEngine/PageLayoutSelector.php
        -
            message: "#^Variable \\$EM_CONF might not be defined\\.$#"
            count: 1
            path: Classes/Backend/PageLayoutDataProvider.php
        -
            message: "#^Method FluidTYPO3\\\\Flux\\\\Service\\\\RecordService\\:\\:update\\(\\) has invalid return type Doctrine\\\\DBAL\\\\Driver\\\\ResultStatement\\.$#"
            count: 1
            path: Classes/Service/RecordService.php
        -
            message: "#^Call to function property_exists\\(\\) with \\$this\\(FluidTYPO3\\\\Flux\\\\Integration\\\\BackendLayoutRenderer\\) and 'context' will always evaluate to false\\.$#"
            count: 2
            path: Classes/Integration/BackendLayoutRenderer.php
        -
            message: "#^Caught class Doctrine\\\\DBAL\\\\DBALException not found\\.$#"
            count: 1
            path: Classes/Content/ContentTypeManager.php
        -
            message: "#^Caught class TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Exception\\\\StopActionException not found\\.$#"
            count: 1
            path: Classes/Controller/AbstractFluxController.php
        -
            message: "#^Call to protected method getTypoScriptFrontendController\\(\\) of class TYPO3\\\\CMS\\\\Frontend\\\\ContentObject\\\\ContentObjectRenderer\\.$#"
            count: 1
            path: Classes/Controller/AbstractFluxController.php
        -
            message: "#^Method FluidTYPO3\\\\Flux\\\\Integration\\\\BackendLayoutRenderer\\:\\:getContext\\(\\) should return TYPO3\\\\CMS\\\\Backend\\\\View\\\\PageLayoutContext but returns TYPO3\\\\CMS\\\\Backend\\\\View\\\\PageLayoutContext\\|null\\.$#"
            count: 1
            path: Classes/Integration/BackendLayoutRenderer.php
        -
            message: "#^Call to function property_exists\\(\\) with \\$this\\(FluidTYPO3\\\\Flux\\\\Controller\\\\AbstractFluxController\\) and 'responseFactory' will always evaluate to false\\.$#"
            count: 2
            path: Classes/Controller/AbstractFluxController.php
        -
            message: "#^Call to an undefined static method TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ActionController\\:\\:htmlResponse\\(\\)\\.$#"
            count: 1
            path: Classes/Controller/AbstractFluxController.php
        -
            message: "#^Property TYPO3\\\\CMS\\\\Backend\\\\View\\\\Drawing\\\\BackendLayoutRenderer\\:\\:\\$context \\(TYPO3\\\\CMS\\\\Backend\\\\View\\\\PageLayoutContext\\) on left side of \\?\\? is not nullable\\.$#"
            count: 1
            path: Classes/Integration/BackendLayoutRenderer.php
        -
            message: "#^Method FluidTYPO3\\\\Flux\\\\Service\\\\RecordService\\:\\:update\\(\\) has invalid return type Doctrine\\\\DBAL\\\\Result\\.$#"
            count: 1
            path: Classes/Service/RecordService.php
        -
            message: "#^Property TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ActionController\\:\\:\\$responseFactory \\(Psr\\\\Http\\\\Message\\\\ResponseFactoryInterface\\) in isset\\(\\) is not nullable\\.$#"
            count: 2
            path: Classes/Controller/AbstractFluxController.php
        -
            message: "#^Access to an undefined property FluidTYPO3\\\\Flux\\\\Controller\\\\AbstractFluxController\\:\\:\\$response\\.$#"
            count: 2
            path: Classes/Controller/AbstractFluxController.php
        -
            message: "#^Method TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ControllerInterface\\:\\:processRequest\\(\\) invoked with 1 parameter, 2 required\\.$#"
            count: 1
            path: Classes/Controller/AbstractFluxController.php
        -
            message: "#^Method TYPO3\\\\CMS\\\\Core\\\\Database\\\\Query\\\\QueryBuilder\\:\\:set\\(\\) invoked with 4 parameters, 2-3 required\\.$#"
            count: 1
            path: Classes/Integration/HookSubscribers/DataHandlerSubscriber.php
        -
            message: "#^Offset 'function' on array(.+) on left side of \\?\\? always exists and is not nullable\\.$#"
            count: 1
            path: Classes/Integration/ContentTypeBuilder.php
        -
            message: "#^Strict comparison using === between 'CLI' and 'BE' will always evaluate to false\\.$#"
            count: 1
            path: Classes/Service/RecordService.php
        -
            message: "#^Method TYPO3\\\\CMS\\\\Backend\\\\Controller\\\\Page\\\\LocalizationController\\:\\:getRecordLocalizeSummary\\(\\) invoked with 2 parameters, 1 required\\.$#"
            count: 1
            path: Classes/Integration/Overrides/LocalizationController.php
        -
            message: "#^Static method TYPO3\\\\CMS\\\\Extbase\\\\Utility\\\\ExtensionUtility\\:\\:registerPlugin\\(\\) invoked with 5 parameters, 3-4 required\\.$#"
            count: 1
            path: Classes/Integration/ContentTypeBuilder.php
        -
            message: "#^Undefined variable\\: \\$EM_CONF$#"
            count: 1
            path: Classes/Backend/PageLayoutDataProvider.php
        -
            message: "#^Call to an undefined method FluidTYPO3\\\\Flux\\\\Integration\\\\Overrides\\\\LocalizationController\\:\\:getPageColumns\\(\\)\\.$#"
            count: 1
            path: Classes/Integration/Overrides/LocalizationController.php
        -
            message: "#^Instantiated class TYPO3\\\\CMS\\\\Core\\\\Http\\\\JsonResponse not found\\.$#"
            count: 2
            path: Classes/Integration/Overrides/LocalizationController.php
