{namespace fed=Tx_Fed_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}

<f:layout name="FCE" />

<f:section name="Configuration">
	<fed:comment comment="This part corrects column count and lets the FlexForm renderer
		'feed back' on itself, rendering additional content area FCE definitions" />
	<f:if condition="{columns} < 1">
		<fed:data.var name="columns" type="integer">1</fed:data.var>
	</f:if>
	<flux:flexform id="contentColumns" label="LLL:EXT:fluidcontent/Resources/Private/Language/locallang.xml:fce.elements.layout.columns.label" description="LLL:EXT:fluidcontent/Resources/Private/Language/locallang.xml:fce.elements.layout.columns.description" enabled="TRUE">
		<flux:flexform.field.select name="columnClass" label="LLL:EXT:fluidcontent/Resources/Private/Language/locallang.xml:fce.elements.layout.columns.fields.class"
			items="{
				0: {0: '50-50', 1: '50% - 50%'},
				1: {0: '33-66', 1: '33% - 66%'},
				2: {0: '66-33', 1: '66% - 33%'},
				3: {0: '75-25', 1: '75% - 25%'},
				4: {0: '25-75', 1: '25% - 75%'},
				5: {0: '33-33-33', 1: '33% - 33% - 33%'},
				6: {0: '50-25-25', 1: '50% - 25% - 25%'},
				7: {0: '25-50-25', 1: '25% - 50% - 25%'},
				8: {0: '25-25-50', 1: '25% - 25% - 50%'}
				}" maxItems="1" />
		<flux:flexform.grid>
			<flux:flexform.grid.row>
				<fed:data.func func="floor" as="gridColumnWidth"><fed:math>100/{columns}</fed:math></fed:data.func>
				<f:for each="{columnClass->fed:explode(glue: '-')}" as="className" iteration="iteration">
					<flux:flexform.grid.column style="width: {columnClass}%">
						<flux:flexform.content name="column{iteration.cycle}" label="LLL:EXT:fluidcontent/Resources/Private/Language/locallang.xml:fce.elements.layout.columns.areas.column.{iteration.cycle}" />
					</flux:flexform.grid.column>
				</f:for>
			</flux:flexform.grid.row>
		</flux:flexform.grid>
	</flux:flexform>
</f:section>

<f:section name="Preview">
	<f:translate key="LLL:EXT:fluidcontent/Resources/Private/Language/locallang.xml:fce.elements.layout.columns.fields.class" />: {columnClass}
	<flux:widget.grid />
</f:section>

<f:section name="Main">
	<fed:style href="{f:uri.resource(path: 'Stylesheet/Content/Columns.css', extensionName: 'fed')}" />
	<div class="content-columns content-columns-{columnClass}">
		<f:for each="{fed:data.func(func: 'explode', arguments: {0: '-', 1: columnClass})}" as="className" iteration="iteration">
			<div class="content-column content-column-{className} column{iteration.cycle}">
				<div class="content-column-padding">
					<flux:flexform.renderContent area="column{iteration.cycle}" />
				</div>
			</div>
		</f:for>
	</div>
</f:section>