You are seeing this particular error for one of the following reasons, starting with the most common reason:

<ul>
	<li>There really are no page template sets defined anywhere in the sytem. Add some.</li>
	<li>For some reason the TypoScript is not being recognised. Check your templates - using the Template Analyser if necessary. It might be a syntax problem, a typo or similar.</li>
	<li>Configuration does exist but consists of empty values - which can happen if the template collection uses TypoScript constants but these have not been filled or miss default values.</li>
	<li>The PageConfigurationProvider from EXT:fluidpages has been overridden, replaced, modified or made incompatible in some way.</li>
</ul>