/* Hack icon into page and list */
.t3-js-clickmenutrigger {
	z-index: 2;
	position: relative
}

.t3-js-clickmenutrigger .icon-state-default.icon-apps-pagetree-root .icon-markup {
	opacity: 0
}

.t3-page-ce-header-icons-left .t3-js-clickmenutrigger + .t3-icon-empty-empty {
	display: none
}

.t3-page-ce-header {
	position: relative
}

.t3-page-ce-header .fluidcontent-icon {
	margin-top: 3px;
	left: 10px;
	display: none;
}
.fluidcontent-toggler {
	opacity: 0.3;
	float: right;
	margin-right: 10px;
}
.t3-page-ce:hover .fluidcontent-toggler {
	opacity: 1;
}

.toggle-content { cursor: pointer; }
[data-toggler-uid].toggler-expand .icon-actions-view-list-collapse {
	display :none;
}
[data-toggler-uid].toggler-collapse .icon-actions-view-list-expand {
	display :none;
}
.flux-grid-hidden {
	display: none !important;
}

.flux-page-layouts {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

.flux-page-layouts input {
	display: none;
}

.flux-page-layouts img {
	display: block;
}

.flux-page-layouts label {
	width: min-content;
	display: inline-table;
	flex-shrink: 1;
	margin-right: 0.5em;
	margin-bottom: 0.25em;
	border: 3px solid lightgrey;
	padding: 0.5em;
}

.flux-page-layouts label:hover,
.flux-page-layouts label.selected {
	border-color: black;
}

.flux-page-layouts label h4,
.flux-page-layouts label p {
	margin: 0;
	margin-top: 0.5em;
}
