.flux-grid { width: 100%; }
.flux-grid td { vertical-align: top; }
.flux-grid-hidden { display: none; }
.t3-page-ce-dragitem:hover .t3-page-ce-wrapper-new-ce { cursor: move; }

.flux-grid tr:first-child:last-child td:first-child:last-child {
	width: 100%;
}
.flux-grid tr:first-child:last-child td {
	min-width: 174px;
}
@media (max-width: 750px) {
	.flux-grid tr:first-child:last-child td {
		min-width: 50%;
	}
}
@media (max-width: 550px) {
	.flux-grid tr:first-child:last-child td {
		min-width: 100%;
	}
}
.t3-page-lang-column .flux-grid td {
	min-width: 100% !important;
}
.flux-grid-column > .t3-grid-cell {
	margin-left: 10px;
}
.flux-grid-column:last-child > .t3-grid-cell {
	margin-right: 10px;
}
.t3-is-dragged .t3-page-ce-body {
	max-height: none;
}
