.fce-header { margin-top: 8px; background-color: transparent !important; }
td.spacer { width: 8px !important; max-width: 8px !important; height: 8px; }
.toggle-content { cursor: pointer; float: right; margin-top: -15px; }
.flux-grid { width: 100%; }
.flux-grid td { vertical-align: top; }
.flux-grid-hidden { display: none; }
.t3-page-ce .toggle-content { visibility: hidden; }
.t3-page-ce:hover .toggle-content { visibility: visible; }
.t3-page-ce-dragitem:hover .t3-page-ce-wrapper-new-ce { cursor: move; }

.flux-grid tr:first-child:last-child td:first-child:last-child {
	width: 100%;
}
.flux-grid tr:first-child:last-child td {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;
	min-width: 174px;
	margin-left: -4px;
	padding-left: 4px;
}
@media (max-width: 750px) {
	.flux-grid tr:first-child:last-child td {
		min-width: 50%;
	}
}
@media (max-width: 550px) {
	.flux-grid tr:first-child:last-child td {
		min-width: 100%;
	}
}
.t3-page-lang-column .flux-grid td {
	min-width: 100% !important;
}
