/* Hack icon iinto page and list */
.t3-js-clickmenutrigger {
	z-index: 2;
	position: relative
}

.t3-js-clickmenutrigger .icon-state-default.icon-apps-pagetree-root .icon-markup {
	opacity: 0
}

.t3-icon.fluidcontent-icon, .fluidcontent-icon {
	margin-top: 7px;
	position: absolute;
	left: 12px;
	z-index: 1
}

.fluidcontent-hack {
	display: none
}

.t3-page-ce-header-icons-left .t3-js-clickmenutrigger + .t3-icon-empty-empty {
	display: none
}

.t3-page-ce-header {
	position: relative
}

.t3-page-ce-header .fluidcontent-icon {
	margin-top: 3px;
	left: 10px;
}
